[submodule "src/module_herman/DJITelloPy"]
	path = src/module_herman/DJITelloPy
	url = https://github.com/damiafuentes/DJITelloPy.git
[submodule "src/module_herman/Robomaster-TT-Activities"]
	path = src/module_herman/Robomaster-TT-Activities
	url = https://github.com/GusMtz787/Robomaster-TT-Activities.git
[submodule "src/MSRpuzzlebot_control"]
	path = src/MSRpuzzlebot_control
	url = https://github.com/MSR325/MSRpuzzlebot_control.git
[submodule "src/MSRpuzzlebot_vision"]
	path = src/MSRpuzzlebot_vision
	url = https://github.com/MSR325/MSRpuzzlebot_vision.git
[submodule "src/module_munoz/3D-SemiDeformable-ObjectTracking"]
	path = src/module_munoz/3D-SemiDeformable-ObjectTracking
	url = https://github.com/GustavoDLRA/3D-SemiDeformable-ObjectTracking.git
[submodule "src/module_munoz/Azure_Kinect_ROS_Driver"]
	path = src/module_munoz/Azure_Kinect_ROS_Driver
	url = https://github.com/microsoft/Azure_Kinect_ROS_Driver/tree/humble
